{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block title %}User {{ profileUser.nickname }}{% endblock %}

{% block content %}
  <div class='container-fluid'>
    <img src='https://randomuser.me/api/portraits/lego/{{ profileUser.pk }}.jpg' class='img-thumbnail' style='width: 200px; height: 200px;'>
    <h1>{{ profileUser.nickname }}</h1>
    <p>Local time {{ localTime|timezone:profileUser.timezoneName }}</p>

    {% if userIsMe %}
    <p>{% trans "Things you can do next:" %}</p>
    <ul>
      <li>
        {% trans "Join the <a href='https://ossm.slack.com'>Slack discussion</a>" %}
        (if you haven't already, you will need to <a href='{% url "slack-invite" %}'>
        get an invite</a>)
      </li>
      <li>
        <a href='{% url "password_change" %}'>{% trans "Change your password" %}</a>
      </li>
      <li>
        {% trans "That's about it really." %}
      </li>
    {% endif %}
  </div>
{% endblock %}
