{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Account verification required{% endblock %}

{% block content %}

  <div class='section'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-10 col-md-8'>
          <h2>Account created</h2>
          <p>
            Your account is created, that's good. Now we just need to confirm your email address.
          </p>
          <p>
            When you receive the verification email, click the link to get access to your new account.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
