{% extends "base.html" %}

{% block title %}Log in to OSSM{% endblock %}

{% block content %}

  <div class='section'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-10 col-md-8'>
          <h2>Log in to OSSM</h2>
          <p>
            No account? <a href='{% url "user:create" %}'>Sign up here</a>.
            If you've lost or forgotten your password, you can <a href='{% url "user:reset_password" %}'>click here to set up a new password</a>.
          </p>

          <div style='height: 20px'></div>

          {% if authentication_failed %}
          <div class='alert alert-warning'>
            We couldn't find a registered user in our system with that email and password. Please check your entry and
            try again, or set up a new password using the link above.<br>
            Your account might also be waiting for email verification. If you signed up for an account in the last 24
            hours, please check your emails.
          </div>
          {% endif %}
          <form class='form-horizontal' action='.' method='post'>
            {% csrf_token %}
            <div class='form-group'>
              {% with field=form.email %}
              <label class='col-sm-3 control-label'>Email</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              {% with field=form.password %}
              <label class='col-sm-3 control-label'>Password</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              <div class='col-sm-offset-3 col-sm-9'>
                <button type='submit' class='btn btn-primary'>Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
