{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Set new password{% endblock %}

{% block content %}

  <div class='section'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-10 col-md-8'>
          <h2>Set a new password</h2>
          <p>
            Your password has been successfully changed.
          </p>
          <p>
            <a href='{% url "user:login" %}'>Click here to continue to the sign in page</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
