{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Change your password{% endblock %}

{% block content %}

  <div class='section'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-10 col-md-8'>
          <h2>Change your password</h2>
          <p>
            If you'd like to change your password, you can do so here, or
            <a href='{% url "user:detail_self" %}'>click here to cancel</a>.
          </p>

          <form class='form-horizontal' action='.' method='post'>
            {% csrf_token %}
            <div class='form-group'>
              {% with form.old_password as field %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Old password</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              <div class='col-sm-offset-3 col-sm-9'>
                <div class='alert alert-info'>
                  Your password must be at least 8 characters long.
                </div>
              </div>
            </div>
            <div class='form-group'>
              {% with form.new_password1 as field %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>New password</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              {% with form.new_password2 as field %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Confirm password</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              <div class='col-sm-offset-3 col-sm-9'>
                <button type='submit' class='btn btn-primary'>Change password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
