{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Edit profile{% endblock %}

{% block content %}

  <div class='section'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-10 col-md-8'>
          <h2>Edit your profile</h2>
          <p>
            Change your displayed nickname, language or timezone preferences here. If you change your email address,
            you'll need to log in with your new email address.
          </p>

          <form class='form-horizontal' action='.' method='post'>
            {% csrf_token %}
            <div class='form-group'>
              {% with field=form.nickname %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Nickname</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
                <p class='help-block'>This is how you will be identified in OSSM.</p>
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              {% with field=form.email %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Email</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
                <p class='help-block'>Your email address will be kept private (unless you choose to join our Slack development group).</p>
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              {% with field=form.timezone %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Timezone</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              {% with field=form.language %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Language</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              <div class='col-sm-offset-3 col-sm-9'>
                <button type='submit' class='btn btn-success'>Save changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
