{% extends "base.html" %}

{% block title %}Sign up to OSSM{% endblock %}

{% block content %}

  <div class='section'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-10 col-md-8'>
          <h2>Create a club</h2>
          <p>
            Complete this form to create an account with OSSM. You will become the CEO of a new sporting club, tasked
            with managing tactics and strategy to get your teams to the top of the ladder.
          </p>
          <p>
            Disclaimer: There is no game here yet. Sign up to get involved in the discussion and help steer the
            development of this game.
          </p>

          <div style='height: 20px'></div>

          <form class='form-horizontal' action='.' method='post'>
            {% csrf_token %}
            <div class='form-group'>
              {% with field=form.nickname %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Nickname</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
                <p class='help-block'>This is how you will be identified in OSSM.</p>
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              {% with field=form.email %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Email</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
                <p class='help-block'>Your email address will be kept private (unless you choose to join our Slack development group).</p>
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              {% with field=form.password %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Password</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              {% with field=form.timezone %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Timezone</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              {% with field=form.language %}
              <label for='{{ field.id_for_label }}' class='col-sm-3 control-label'>Language</label>
              <div class='col-sm-9'>
                {{ field }}
                {% if field.errors %}
                <div class='alert alert-warning'>{{ field.errors }}</div>
                {% endif %}
              </div>
              {% endwith %}
            </div>
            <div class='form-group'>
              <div class='col-sm-offset-3 col-sm-9'>
                <button type='submit' class='btn btn-success'>Create my account</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
