{% extends "base.html" %}

{% block title %}User {{ user.nickname }}{% endblock %}

{% block content %}
  <div class='container-fluid'>
    <!-- <img src='https://randomuser.me/api/portraits/lego/{{ user.pk }}.jpg' class='img-thumbnail' style='width: 200px; height: 200px;'> -->
    <h1>{{ user.nickname }}</h1>

    {% if user.pk == auth.user_pk %}
    <p>Things you can do next:</p>
    <ul>
      <li>
        Join the <a href='https://ossm.slack.com'>Slack discussion</a>
        (if you haven't already, you will need to <a href='{% url "community:slack_invite" %}'>
        get an invite</a>)
      </li>
      <li>
        <a href='{% url "user:change_password" %}'>Change your password</a>
      </li>
      <li>
        <a href='{% url "user:edit_self" %}'>Edit your profile</a>
      </li>
      <li>
        That's about it really.
      </li>
    {% endif %}
  </div>
{% endblock %}
