{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Set new password{% endblock %}

{% block content %}

  <div class='section'>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-10 col-md-8'>
          <h2>Set a new password</h2>
          <p>
            Instructions to help you set up a new password have been sent to your email address.
          </p>
          <p>
            If you don't receive an email in the next few minutes, please
            <a href='{% url "password_reset" %}'>try again</a> making sure you have put in your email address
            correctly.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
