{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang='en-AU'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block title%}{% trans "OSSM, the open-source sports manager game" %}{% endblock %}</title>
    <link rel='stylesheet' href='{% static "cosmo.bootstrap.min.css" %}'>
    <script src='https://code.jquery.com/jquery-2.2.3.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav class='navbar navbar-inverse navbar-static-top'>
        <div class='container-fluid'>
          <!-- Non-collapsed -->
          <div class='navbar-header'>
            <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar-collapse'>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='{% url "index" %}'>OSSM</a>
          </div>
          <!-- Collapsed -->
          <div class='collapse navbar-collapse' id='navbar-collapse'>
            <ul class='nav navbar-nav'>
              {% if not user.is_authenticated %}
              <li><a href='{% url "user-create" %}'>Create account</a></li>
              <li><a href='{% url "login" %}'>Log in</a></li>
              {% else %}

              <li class='dropdown'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button'>
                  {{ user.nickname }} <span class='caret'></span>
                </a>
                <ul class='dropdown-menu'>
                  <li><a href='{% url "my-user-detail" %}'>
                    User profile
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Preferences
                  </a></li>
                  <li><a href='{% url "logout" %}'>
                    Log out
                  </a></li>
                </ul>
              </li>

              <li class='dropdown'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button'>
                  {{ user.nickname }} FC <span class='caret'></span>
                </a>
                <ul class='dropdown-menu'>
                  <li class='disabled'><a href='#'>
                    CEO's office and To Do List
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Club profile
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Finances
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Recruitment/transfers
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Stadia
                  </a></li>
                  <li class='divider'></li>
                  <li class='dropdown-header'>Switch clubs</li>
                  <li class='disabled'><a href='#'>
                    Club 1
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Australian National Team <small>(assistant)</small>
                  </a></li>
                </ul>
              </li>

              <li class='dropdown'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button'>
                  Men's A Team <span class='caret'></span>
                </a>
                <ul class='dropdown-menu'>
                  <li class='disabled'><a href='#'>
                    Players
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Staff
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Friendlies
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Team profile
                  </a></li>
                  <li class='divider'></li>
                  <li class='dropdown-header'>Switch teams</li>
                  <li class='disabled'><a href='#'>
                    Men's B
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Women's A
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Youth
                  </a></li>
                </ul>
              </li>

              <li class='dropdown'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button'>
                  NSW Division IV <span class='caret'></span>
                </a>
                <ul class='dropdown-menu'>
                  <li class='disabled'><a href='#'>
                    League table
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Matches
                  </a></li>
                  <li class='disabled'><a href='#'>
                    Statistics
                  </a></li>
                  <li class='divider'></li>
                  <li class='dropdown-header'>Switch competitions</li>
                  <li class='disabled'><a href='#'>
                    NSW Division IV
                  </a></li>
                  <li class='disabled'><a href='#'>
                    NSW State Cup
                  </a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                  {% trans "Discussion" %} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class='dropdown-header'>Development team</li>
                  <li><a href='{% url "slack-invite" %}'>
                    {% trans "Get invitation" %}
                  </a></li>
                  <li><a href='https://ossm.slack.com' target='_blank'>
                    {% trans "Open Slack" %}
                  </a></li>
                  <li class='divider'></li>
                  <li class='dropdown-header'>Forums</li>
                  <li class='disabled'><a href='#'>
                    Oceania <span class='badge'>42</span>
                  </a></li>
                  <li class='disabled'><a href='#'>
                    World
                  </a></li>
                  <li class='divider'></li>
                  <li class='disabled'><a href='#'>
                    Manage subscriptions
                  </a></li>
                </ul>
              </li>
              {% endif %}

              {% if user.is_staff %}
              <li><a href='/admin/' target='_blank'>
                {% trans "Admin" %}
              </a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}Content goes here{% endblock %}

    <hr>
    <footer class='container-fluid small'>
      <p>
        {% trans "OSSM. It's awesome." %}<br>
        {% trans "This is in early development. Data may get lost or wiped at any time (but you'll be kept informed on Slack)." %}
        {% trans "There is no game here. Yet." %}
      </p>
    </footer>
  </body>
</html>
