{% extends "base.html" %}

{% load i18n %}

{% block title %}OSSM{% endblock %}

{% block content %}
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-md-8'>
        <!-- <h1>{% trans "Welcome" %}</h1> -->
        <h1>
          {% trans "OSSM is an open-source interpretation of the multi-player strategic sports management game." %}
        </h1>
        <p>
          {% trans "Here's the first principles of the project." %}
        </p>
        <ol>
          <li>A focus on community, building links between people through both playing the game and developing it.</li>
          <li>Democratic design, where the direction of the game is determined by those who play it.</li>
          <li>Free to play and free to win, ensured by keeping the source code freely available for anybody to run their own game instance.</li>
          <li>There is no need for off-site management tools or paid add-ons, but API access is open for those who wish to use it.</li>
        </ol>
        <p>
          {% trans "Some initial goals and ambitions:" %}
        </p>
        <ol>
          <li>Option for multiple linked teams (men's, women's, B-teams) in multiple sports (football, cricket). Football will be the first focus.</li>
          <li>Greater emphasis on tactics, with real-time substitutes and tactics changes available even during a match.</li>
          <li>Real-world weather and locations.</li>
        </ol>

        <h2>{% trans "We need your help!" %}</h2>
        <p>
          {% blocktrans %}Designers and developers are welcome, of course, but most of all we need players to give the game strategic
          direction and vote on changes. There's also plenty of non-coding work that needs doing, so feel free
          to help out no matter your skills. {% endblocktrans %}
        </p>
        <p>
          The best way to help is to <a href='{% url "user-create" %}'>sign up for OSSM</a> then
          <a href='{% url "slack-invite" %}'>join our Slack team.</a>
        </p>
      </div>
      <div class='col-sm-6 col-md-4'>
        {% if not user.is_authenticated %}
        <div class='well'>
          <form action='{% url "login" %}' method='post'>
            <fieldset>
              <legend>Log in</legend>
              <p>No account? <a href='{% url "user-create" %}'>Sign up</a> here.</p>
              {% csrf_token %}
              <div class='form-group'>
                {% with login_form.username as field %}
                <label for='{{ field.id_for_label }}'>Email</label>
                <input type='email' class='form-control' id='{{ field.id_for_label }}' name='{{ field.html_name }}' {% if field.value %}value='{{ field.value }}'{% endif %}>
                {% endwith %}
              </div>
              <div class='form-group'>
                {% with login_form.password as field %}
                <label for='{{ field.id_for_label }}'>Password</label>
                <input type='password' class='form-control' id='{{ field.id_for_label }}' name='{{ field.html_name }}'>
                {% endwith %}
              </div>
              <p><a href='{% url "password_reset" %}'>I forgot my password</a></p>
              <button type='submit' class='btn btn-primary'>Sign in</button>
            </fieldset>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
