{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Get your Slack invitation" %}{% endblock %}

{% block content %}
  <h1>{% trans "Get your Slack invitation" %}</h1>
  
  {% if success %}
  <div class='alert alert-success'>
    {% blocktrans %}<strong>Success!</strong> Your invitation has been sent. Check your email inbox and spam
    folders.{% endblocktrans %}
  </div>
  
  {% elif error %}
  <div class='alert alert-danger'>
    {% blocktrans %}<strong>Uh oh.</strong> Slack reported the following problem when processing your invite:{% endblocktrans %}<br>
    {% if error == 'invalid_email' %}
    {% trans "Your email address was not accepted by Slack as valid." %}
    {% elif error == 'already_invited' %}
    {% trans "You've already received an invitation. Check your spam folder." %}
    {% elif error == 'already_in_team' %}
    {% blocktrans %}You already have a Slack account for the OSSM team! Visit Slack's
    <a href='https://ossm.slack.com/forgot' target='_blank'>password reset</a> page
    to recover access to your account.{% endblocktrans %}
    {% else %}
    {% trans "Something went so wrong we don't even know what it is. Somebody's been told about this
    error, and it might get fixed." %}
    {% endif %}
  </div>
  
  {% else %}
  <p class='lead'>
    {% blocktrans %}If you don't have access to our Slack discussion group, just click the button below to get invited.
    You will set up a new Slack password which will not be the same as your OSSM password. {% endblocktrans %}
  </p>
  <p>
    <form action='{% url "slack-invite" %}' method='post'>
      {% csrf_token %}
      <button class='btn btn-info' type='submit'>{% trans "GET INVITATION" %}</button>
    </form>
  </p>
  <p>
    {% blocktrans %}Privacy note: Other members of the Slack group will be able to see your <strong>email address</strong>
    and <strong>nickname</strong> if you join.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}If you have previously received an invitation, and lost your password, you'll need to visit Slack's
    <a href='https://ossm.slack.com/forgot' target='_blank'>password reset</a> page.{% endblocktrans %}
  </p>
  {% endif %}
{% endblock %}
